html {
  height: 100%;
  width: 100%;
}
.fact-container {
  clear: both;
}
.fact-name {
  float: left;
  padding: 0.5em;
  background-color: blue;
  color: white;
  border-radius: 1em;
  text-decoration: underline;
  
}
.fact-parameter {
  float: left;
  background-color: silver;
  color: white;
  font-weight: 800;
  padding: 0.5em;
}
#content {
  /* height: 1000px;*/
}

#program td {
  background-color: lightgrey;
}

#programarea {}

#programarea #program {
  float: left;
  width: 50%;
}
.rest {
  clear: both;
}

#programarea #commands {
  float: left;
  width: 50%;
  overflow-y: scroll;
}

#timeline {
  background-color: lightgrey;
  overflow-y: scroll;
  width: 90%;
  height: 200px;
}

#timeline td {
  white-space: nowrap;
  border: 1px solid black;
}

.active-latch {
  border: 1px solid black;
}